@charset "utf-8";
/*
   
   Author: Hunter Karjala  
   
   Filename: ethansaudio_print.css

*/



/* Hidden Objects */

nav.horizontalNavigation {
    display: none;
}

nav.ul {
    display: none;
}

/* Page Box Styles */

@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

/* Header Styles */



/* Typography Styles */

header {
    font-size: 30pt;
}

h1{
    font-size: 20pt;
    line-height: 30pt;
    margin: 0.3in 0in 0.2in;
}

h2 {
    font-size: 20pt;
    margin: .1in 0in .1in .3in;
}

p {
    font-size: 12pt;
    margin: .1in 0in .1in .3in;
}

/* List Styles */

ul {
    list-style-type: disc;
    margin-left:  0.5in;
}

/* Image Styles */



/* Hypertext Styles */

a {
    color:black;
    text-decoration: none;
}

a::after {
    content: " ("attr(href) ") ";
    font-weight: bold;
    word-wrap: break-word;
}

/* Page Break Styles */

article:nth-of-type(n+2) {
    page-break-before: always;
}

img, ol, ul {
    page-break-inside: avoid;
}
	
p {
    orphans: 3;
    widows: 3;
}
